*{
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 970px;
    background: linear-gradient(to bottom, rgb(252, 138, 116), rgb(255, 212, 204));
    font-family: palatino, 'times new roman', arial, sans-serif;
}
    form{
        vertical-align: top;
        display: inline-block;
        width: 235px;
        padding: 10px;
        margin-right: 255px;
    }
        label{
            display: block;
            margin: 0 0 5px auto;
            width: 225px;
            text-align: right;
        }
        label:last-of-type{
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 10px;
        }
        textarea{
            display: block;
            margin: 0 0 15px auto;
            width: 225px;
            height: 100px;
        }
        input[type="submit"]{
            display: block;
            margin: auto;
        }
    #wrapper > div{
        display: inline-block;
        width: 440px;
        padding: 10px;
    }
        #wrapper > div > div {
            vertical-align: top;
            text-align: center;
            margin: 15px auto;
            width: 215px;
            height: 60px;
            border: 2px solid black;
            padding: 20px;
            overflow: auto;
        }
        #wrapper > div > div p:first-child {
            font-weight: bold;  
            margin-bottom: 10px; 
            font-size: 20px;      
        }
        button{
            padding: 5px;
        }